//- Configurações
- var PageTitle = "Jade App Skeleton"
- var PageSubTitle = "Structure for template jade"
- var MetaAuthor = "Gabriel Melo"
- var MetaDescription = "Basic front-end structure for template jade"

//- Google Fonts
- var GoogleFonts = 'Open Sans'
