//- Configurações
- var Title = "Pug boilerplate"
- var PageTitle = "Structure for template Pug"
- var MetaAuthor = "Gabriel Melo"
- var MetaDescription = "Basic front-end structure for template Pug"

//- Google Fonts
- var GoogleFonts = 'Open Sans'