include data
extends layouts/default.pug

block meta
	//- stylesheet
	link(href="file.css", rel="stylesheet")

block content
	include templates/header.pug
	
	
block scripts
	//- script
	script(src="file.js")