//- //- layouts
//- extends ../layouts/page.jade

//- //- Page Config
//- append config
//- 	- var PageName = "Page"
//- 	- var currentUrl = '/page'

//- block PageMain
//- 	h1 This is Page #{PageName}