block config
    //- Configurações
    - var Title = "Pug boilerplate"
    - var PageTitle = "Structure for template Pug"
    - var MetaAuthor = "Gabriel Melo"
    - var MetaDescription = "Basic front-end structure for template Pug"

//- Google Fonts
- var GoogleFonts = "Roboto"

//- Paths
- var path = "assets/"
- var pathBrading = path + "branding/"
- var pathStylesheet = path + "stylesheets/"
- var pathScript = path + "scripts/"

- var pathScript = path + "scripts/" + nomeDaEdicao