doctype html
html(lang="pt-BR")
	head
		meta(charset="utf-8")
		include ../templates/head.pug
		
		block meta

		// Title Page
		title

		// Stylesheet
		block styles

	body
		main
			block content
		
		footer
			block footer
		block scripts