doctype html
html(lang="pt-BR")
	head
		// Title Page
		title

		block meta
			//- head
			include ../templates/head.pug
		
		// Stylesheet
		block styles
			link(href="file.css", rel="stylesheet")
		
	body
		main
			block content
		
		footer
			block footer
				include ../templates/footer.pug
		
		block scripts
			//- script
			script(src="file.js")