doctype html
html(lang="pt-BR")
	head
		meta(charset="utf-8")

		//- head
		include ../templates/head.pug
		
		block meta

		// Title Page
		title

		// Stylesheet
		block styles
			link(href="file.css", rel="stylesheet")
		
	body
		main
			block content
		
		footer
			block footer
				include ../templates/footer.pug
		
		block scripts
			//- script
			script(src="file.js")