header
	hgroup
		h1 Jade App Skeleton
		
		h2 Jade app Skeleton is a basic front-end structure to create HTML template with Jade.

	nav
		ul
			li
				a(class={active: currentUrl === '/home'} href='/home.html') Homepage
				
			li
				a(class={active: currentUrl === '/single'} href='/single.html') Singlepage

			li
				a(class={active: currentUrl === '/abosingle-asideut'} href='/single-aside.html') Singlepage With Sidebar   
				
			li
				a(class={active: currentUrl === '/page'} href='/page.html') Page
				
			li
				a(class={active: currentUrl === '/about'} href='/about.html') About
				
			li
				a(class={active: currentUrl === '/404'} href='/404.html') 404
